body {
	font-family: Inter;
}
.btn-theme-toggle {
	width: 1.75rem;
	height: 1.75rem;
}
.rounded-50 {
	border-radius: 50%;
}
@media (min-width: 768px) {
	.page-container {
		padding-left: 6.25%;
		padding-right: 6.25%;
	}
}
@media (min-width: 1024px) {
	.page-container {
		padding-left: 12.5%;
		padding-right: 12.5%;
	}
}
.logo {
	filter: drop-shadow(0 0 0.25rem var(--bs-body-color));
}
.auth-panel {
	max-width: 640px;
	margin: 0 auto;
}
.card-header > .hstack > a.active {
	color: unset;
	text-decoration: unset;
	cursor: text;
}
.clickable {
	cursor: pointer;
}
@keyframes movex {
	from {
		margin-left: 0;
	}
	to {
		margin-left: calc(100% - 1.25rem);
	}
}
@keyframes spin {
	20%,
	100% {
		transform: rotate(5turn);
	}
}
.marquee-x {
	animation: movex 6s ease-in-out infinite alternate, spin 5s infinite;
}
.post-header {
	display: flex;
	color: var(--bs-secondary);
	font-size: smaller;
	padding: 0.5rem;
}
.handle {
	font-weight: bold;
	text-decoration: none;
}
.handle::before {
	content: "@";
}
.handle:hover {
	text-decoration: underline;
}
.card-body {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.card-body > .img-fluid {
	display: block;
	max-height: 25rem;
	margin: 0 auto;
}
.card-body > .card {
	background-color: var(--bs-secondary-bg-subtle);
}
.card-body.poll {
	padding: 0 0 0.5rem 0;
}
.poll-option {
	width: calc(100% - 4rem);
}
.poll-bar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--bs-primary);
	min-width: 0.5%;
	height: 100%;
	opacity: 0.25;
}
.poll-value {
	position: absolute;
	top: 50%;
	right: 0;
	color: var(--bs-info);
	text-align: center;
	width: 4rem;
	transform: translateY(-50%);
}
.poll-value::after {
	content: "%";
	display: inline-block;
	position: absolute;
	top: 0;
}
.media-preview {
	min-width: 3rem;
	min-height: 3rem;
}
.stroke-3 {
	stroke-width: 3px;
}
.editor {
	background-color: var(--bs-body-bg);
}
.outline-0 {
	outline: none;
}
.autogrow {
	display: grid;
}
.autogrow::after {
	content: attr(data-replicated-value) " ";
	white-space: pre-wrap;
	visibility: hidden;
}
.autogrow > textarea {
	resize: none;
}
.autogrow > textarea,
.autogrow::after {
	grid-area: 1 / 1 / 2 / 2;
	background-color: inherit;
	line-height: 1.5rem;
	overflow-wrap: break-word;
	max-height: 16rem;
	padding: 0 1rem;
	outline: none;
	border: none;
	border-radius: var(--bs-border-radius);
	overflow: hidden;
	margin: 1rem 0;
}
.card-footer > .row > .col-4 > div {
	background-color: var(--bs-border-color);
}
.picmo__picker.autoTheme {
	background-color: var(--bs-body-bg) !important;
	color: var(--bs-body-color) !important;
	border-style: solid !important;
	border-width: var(--bs-border-width) !important;
	border-color: var(--bs-border-color) !important;
}
.picmo__picker > .picmo__header > .categoryButtonsContainer {
	--category-count: 0;
}
.picmo__picker .picmo__emojiContainer {
	width: fit-content;
}
.picmo__picker .picmo__searchContainer .picmo__searchField {
	border-style: solid !important;
	border-width: var(--bs-border-width) !important;
	border-color: var(--bs-border-color) !important;
}
.picmo__picker .picmo__searchContainer .picmo__searchAccessory svg {
	fill: var(--bs-body-color) !important;
}
.picmo__popupContainer .picmo__closeButton:hover {
	background-color: var(--bs-red) !important;
}
.emoji-bar {
	display: flex;
	width: 100%;
	border-radius: 50rem;
	overflow: hidden;
	margin-right: auto;
	user-select: none;
}
.emoji-bar > div {
	display: flex;
	align-items: center;
	background-color: var(--bs-tertiary-bg);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 50rem;
	cursor: pointer;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.searchContainer,
.emojiButton {
	user-select: none;
}
.char-count {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bs-secondary-bg);
	font-size: 0.75rem;
	width: 3rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 50rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.poll-icon {
	filter: invert(100);
}
.has-reply {
	border-left-color: var(--bs-primary);
}
.reply {
	background-color: var(--bs-warning-bg-subtle);
	color: var(--bs-emphasis-color);
	border-left-color: revert;
}
.position-absolute-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}