body {
	font-family: Inter;
}
.auth-panel {
	min-width: 480px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 576px) {
	.auth-panel {
		min-width: 100%;
	}
}
.card-header > .hstack > a.active {
	color: unset;
	text-decoration: unset;
	cursor: text;
}
.clickable {
	cursor: pointer;
}
@keyframes movex {
	from {
		margin-left: 0;
	}
	to {
		margin-left: calc(100% - 1.25rem);
	}
}
@keyframes spin {
	20%,
	100% {
		transform: rotate(5turn);
	}
}
.marquee-x {
	animation: movex 6s ease-in-out infinite alternate, spin 5s infinite;
}
.post-header {
	display: flex;
	color: var(--bs-secondary);
	font-size: smaller;
	padding: 0.5rem;
}
.handle {
	color: var(--bs-secondary);
	font-weight: bold;
	text-decoration: none;
}
.card-body {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.card-body > .img-fluid {
	max-height: 25rem;
}
.card-body.poll {
	padding: 0 0 0.5rem 0;
}
.poll-option {
	width: calc(100% - 2rem);
}
.poll-bar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--bs-primary);
	min-width: 0.5%;
	height: 100%;
	opacity: 0.25;
}
.poll-value {
	position: absolute;
	top: 50%;
	right: 0;
	color: var(--bs-info);
	text-align: center;
	width: 2rem;
	transform: translateY(-50%);
}
.media-preview {
	min-width: 3rem;
	min-height: 3rem;
}
.action-buttons {
	display: flex;
	justify-content: end;
}
.action-bar > .action-buttons > div {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0.75rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.outline-0 {
	outline: none;
}
div[contenteditable] {
	min-height: 4rem;
}
.card-footer > .row > .col-4 > div {
	background-color: var(--bs-border-color);
}
.emoji-bar {
	display: flex;
	width: 100%;
	border-radius: 50rem;
	overflow: hidden;
	margin-right: auto;
	user-select: none;
}
.emoji-bar > div {
	display: flex;
	align-items: center;
	background-color: var(--bs-border-color);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 50rem;
	cursor: pointer;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.searchContainer,
.emojiButton {
	user-select: none;
}
.char-count {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bs-tertiary-color);
	color: var(--bs-light);
	font-size: 0.75rem;
	width: 3rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 50rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.has-reply {
	border-left-color: var(--bs-primary);
}
.reply {
	background-color: var(--bs-border-color);
	color: var(--bs-emphasis-color);
	border-left-color: revert;
}
.position-absolute-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}